<p class="picture_count">{{ "picture.count"|transchoice(picturesCount) }}</p>

<ul class="pictures">
    {% for picture in pictures %}
        <li>
            {% block challenge_picture %}
                <img class="img-thumbnail" src="{{ asset(picture.miniaturePath) }}" alt="{{ picture.title }}"/>
            {% endblock %}
        </li>
    {% endfor %}
</ul>
