<div class="picture_details">
    <div class="row">
        <div class="col-xs-9">
            <img class="picture" src="{{ asset(picture.path) }}" title="{{ picture.title }}" alt="{{ picture.title }}"/>
        </div>
        <div class="col-xs-3">
            Comments
        </div>
    </div>
</div>
