<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Space Pictures Jam</title>

        {% include 'SPJGameBundle:Layout:stylesheets.html.twig' %}
    </head>

    <body>
        <div id="iframe_popin_content">
            {% block page_content %}{% endblock %}
        </div>

        {% include 'SPJGameBundle:Layout:javascripts.html.twig' %}

    </body>
</html>
