{% extends "SPJGameBundle:Layout:base.html.twig" %}

{% block page_content%}
    <h1>Challenge edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_challenge_list') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
