{% extends "SPJGameBundle:Layout:base.html.twig" %}

{% block page_content %}
    <div id="over_challenges">
        <h3>{{ "challenge.list.previous"|trans() }}</h3>
        <ul>
            {% for challenge in overChallenges %}
                <a href="">{{ challenge.subject }}</a> ({{ challenge.startDate|date }} - {{ challenge.endDate|date }})
            {% endfor %}
        </ul>
    </div>
{% endblock %}
