{% extends "SPJGameBundle:Layout:base.html.twig" %}

{% block page_content %}
    <h2>{{ "challenge.title_plural"|trans() }}</h2>

    <div class="row">
        <div id="voting_challenge" class="col-md-6">
            {% if votingChallenge %}
                {% include 'SPJGameBundle:Challenge:summary_voting.html.twig' with {'challenge' : votingChallenge} %}
            {% else %}
                <p>{{ "challenge.no_voting"|trans() }}</p>
            {% endif %}
        </div>
        <div id="inprogress_challenge" class="col-md-6">
            {% if inprogressChallenge %}
                {% include 'SPJGameBundle:Challenge:summary_inprogress.html.twig' with {'challenge' : inprogressChallenge} %}
            {% else %}
                <p>{{ "challenge.no_inprogress"|trans() }}</p>
            {% endif %}
        </div>
    </div>

    <div id="over_challenges">
        <h3>{{ "challenge.list.previous"|trans() }}</h3>
        {% for challenge in overChallenges %}
            {% include 'SPJGameBundle:Challenge:summary_over.html.twig' with {'challenge' : challenge} %}
        {% endfor %}
    </div>

{% endblock %}
