{% extends "SPJGameBundle:Layout:base.html.twig" %}

{% block page_content %}
    <div id="over_challenges">
        <h3>{{ "challenge.list.previous"|trans() }}</h3>
        {% for challenge in overChallenges %}
            {% include 'SPJGameBundle:Challenge:summary_over.html.twig' with {'challenge' : challenge} %}
        {% endfor %}
    </div>
{% endblock %}
