{% extends "SPJGameBundle:Layout:base.html.twig" %}

{% block page_content %}
    <h2>{{ "challenge.title_plural"|trans() }}</h2>

    {% if is_granted('ROLE_ADMIN') %}
        <p><a href="{{ url('admin_challenge_list') }}">Challenges admin</a></p>
    {% endif %}

    <div class="row">
        <div id="inprogress_challenge" class="col-md-5">
            {% if inprogressChallenge %}
                {% include 'SPJGameBundle:Challenge:summary_inprogress.html.twig' with {'challenge' : inprogressChallenge} %}
            {% else %}
                <div class="alert alert-danger">{{ "challenge.no_inprogress"|trans() }}</div>
            {% endif %}
        </div>
    </div>

    <div id="over_challenges">
        <h3>{{ "challenge.list.previous"|trans() }}</h3>
        {% for challenge in overChallenges %}
            {% include 'SPJGameBundle:Challenge:summary_over.html.twig' with {'challenge' : challenge} %}
        {% endfor %}
    </div>

{% endblock %}
