{% extends "SPJGameBundle:Layout:base.html.twig" %}

{% block page_content %}
    <h1>Challenge creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_challenge_list') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
