<ul class="stars">
    <li><a href="{{ path('rating_create', { pictureId : picture.id}) }}" class="glyphicon glyphicon-ban-circle rating_star" data-value="0"></a></li>
    {% for i in 1..5 %}
        <li><a href="{{ path('rating_create', { pictureId : picture.id}) }}" class="glyphicon glyphicon-star rating_star" data-value="{{ i }}"></a></li>
    {% endfor %}
</ul>
