<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">{{ ratingSummary.average }}</span>
        {{ "rating.average"|trans() }}
    </li>
    <li class="list-group-item">
        <span class="badge">{{ ratingSummary.sum }}</span>
        {{ "rating.sum"|trans() }}
    </li>
</ul>
