<ul class="list-group">
    <li class="list-group-item">
        <span class="badge">{{ picture.ratingsAverage }}</span>
        {{ "rating.average"|trans() }}
    </li>
    <li class="list-group-item">
        <span class="badge">{{ picture.ratingsCount }}</span>
        {{ "rating.sum"|trans() }}
    </li>
</ul>
