.panel {
    margin: 10px;
}

.challenge.panel {
    height: 500px;
}

.challenge .panel-heading {
    position: relative;
}

.challenge .countdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}

.challenge_user_picture {
    float: right;
}
