.panel {
    margin: 10px;
}

.picture_details .picture {
    width: 100%;
    height: auto;
}
.comment ul {
    list-style-type: none!important;
    padding: 2px;
    font-size: 10px;
}
.comments ul li .author {
    font-weight: bold;
}
.comments ul li .dateCreated {
    color: 404040;
    text-align: right;
    font-size: 8px;
}
.comments ul li:nth-child(even) {
    background-color: #F0F0F0;
}

.challenge .panel-heading {
    position: relative;
}

.challenge .countdown {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}
