.picture_details .comments .list-group {
    height: 300px;
    overflow-y: scroll;
    list-style-type: none;
    padding: 2px;
    font-size: 10px;
}

.picture_details .comments ul li p {
    margin: 0;
}
.picture_details .comments ul li .author {
    margin-right: 5px;
    font-weight: bold;
}
.picture_details .comments ul li .date {
    color: #404040;
    text-align: right;
}
.picture_details .comments ul li:nth-child(even) {
    background-color: #F0F0F0;
}

.comments .create .content {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
