.picture_details .picture {
    width: 100%;
}

.picture_details .pager {
    position: absolute;
    bottom: 0;
    left: 10px;
    opacity: 0.3;
}

.picture_details .pager:hover {
    opacity: 1;
}

.picture_details .tab {
    position: absolute;
    width: 280px;
    padding: 5px 45px 5px 5px;
    background-color: white;
    opacity: 0.9;
    transition: right 0.1s;
    -webkit-transition: right 0.1s;
    right: -280px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.picture_details .rating {
    top: 100px;
    height: 200px;
}

.picture_details .metadata {
    top: 200px;
}

.picture_details .comments {
    top: 20px;
}

.picture_details .tab:hover {
    right: 0;
}
.picture_details .tab .tag {
    position: absolute;
    left : -30px;
    background-color: white;
    opacity: 0.9;
    padding: 4px 8px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.challenge_pictures.over ul {
    list-style-type: none;
}
.challenge_pictures.over li {
    float: left;
    margin-right: 10px;
}
.challenge_pictures.over li .rank {
    vertical-align: middle;
    line-height: 40px;
    font-size: 55px;
    color: #BABABA;
    font-weight: bold;
}

.challenge_pictures.voting ul, .challenge_pictures.over ul {
    list-style-type: none;
    padding: 0;
}

.challenge_pictures.voting ul li, .challenge_pictures.over ul li {
    float: left;
    margin-right: 5px;
}

.picture_count {
    font-size: 9px;
    font-style: italic;
}

.challenge_pictures.inprogress .pictures
{
    width: auto;
}
