.picture_details .picture {
width: 100%;
}

.picture_details .tab {
    position: absolute;
    width: 230px;
    padding: 5px 30px 5px 5px;
    background-color: white;
    opacity: 0.8;
    transition: right 0.1s;
    -webkit-transition: right 0.1s;
    right: -230px;
}

.picture_details .rating {
    top: 60px;
    height: 200px;
}

.picture_details .metadata {
    top: 100px;
}

.picture_details .comments {
    top: 20px;
    height: 80%;
}

.picture_details .tab:hover {
    right: 0;
}
.picture_details .tab .tag {
    position: absolute;
    left : -30px;
    background-color: white;
    opacity: 0.8;
    padding: 4px 8px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.picture_details .comment ul {
    list-style-type: none!important;
    padding: 2px;
    font-size: 10px;
}
.picture_details .comments ul li .author {
    font-weight: bold;
}
.picture_details .comments ul li .dateCreated {
    color: #404040;
    text-align: right;
    font-size: 8px;
}
.picture_details .comments ul li:nth-child(even) {
    background-color: #F0F0F0;
}
