.rating ul.stars {
    list-style-type: none;
    height: 40px;
}

.rating ul.stars li {
    float: left;
    margin-left: 8px;
}

.rating ul.stars .highlighted {
    color: red;
}

.rating ul.stars .rating_star:hover {
    background-color: #B3B3B3;
    border-radius: 3px;
}
