<p>Bonjour {{ user.username }},</p>

<p>Un nouveau challenge est en ligne ! Le précédent challenge ayant pour thème "{{ inprogressChallenge.subject }}" s'est achevé.

<p>Le thème du nouveau Challenge :</p>

<h1>{{ newChallenge.subject }}</h1>

Venez vite <a href="{{ base_url ~ path('challenge_list') }}">participer à ce challenge</a> et prouver vos talents de photographe !
